<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Finance Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link active" href="<%= root_path %>">Home</a>
                </li>
                <!-- Accounts -->
                <li class="nav-item">
                    <%= link_to "My Account", accounts_path, class: "nav-link" %>
                </li>
                <!-- Transactions -->
                <li class="nav-item">
                    <%= link_to "Transactions", transactions_path, class: "nav-link" %>
                </li>
                <!-- Categories -->
                <li class="nav-item">
                    <%= link_to "Months", monthly_transactions_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Recurring", recurring_transactions_path, class: "nav-link" %>
                </li>

                
                <!-- User Dropdown Menu -->
                <% if user_signed_in? %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Menu </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                        <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                    </ul>
                </li>
                <% end %>
            </ul>

            <!-- User Username on the Far Right -->
            <% if user_signed_in? %>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <span class="nav-item-email text-dark"><%= current_user.username %></span>
                </li>
            </ul>
            <% else %>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                </li>
            </ul>
            <% end %>
        </div>
    </div>
</nav>