<div class="table-container">
  <h1>Transactions</h1>

  <%= link_to 'New Transaction', new_transaction_path, class: 'btn btn-primary mb-3' %>
  <%= button_to 'Delete All Transactions', destroy_all_transactions_path, method: :delete, class: 'btn btn-danger mb-3', data: { turbo_confirm: 'Are you sure you want to delete all transactions?' } %>

  <%= form_with url: import_excel_transactions_path, method: :post, local: true, multipart: true, class: "d-inline-block" do |form| %>
    <div class="form-group mb-3">
      <%= form.file_field :file, class: 'form-control-file' %>
    </div>
    <%= form.submit "Importar Excel", class: "btn btn-secondary" %>
  <% end %>

  <table class="table">
    <caption>Transactions Overview</caption>
    <thead>
    <tr>
      <th>Description</th>
      <th>Valor</th>
      <th>Recurring</th>
      <th>Parcela No</th>
      <th>Category</th>
      <th>Due date</th>
      <th>Status</th>
      <th style="text-align: center">Actions</th>
      <th>Receipt</th>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= if transaction.parent_transaction.present?
                  transaction.description
                else
                  installment_description(transaction)
                end %></td>
        <td><%= br_currency(transaction.amount) %></td>
        <td><%= transaction.recurring ? transaction.recurring.capitalize : 'não informado' %></td>
        <td><%= transaction.installment_number %></td>
        <td><%= transaction.category.name %></td>
        <td><%= transaction.expiration %></td>
        <td><%= transaction.status.humanize %></td>
        <td style="text-align: center" class="action-buttons">
          <%= link_to 'Show', transaction, class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit', edit_transaction_path(transaction), class: 'btn btn-sm btn-warning' %>
          <%= button_to 'Delete', transaction_path(transaction), method: :delete, class: 'btn btn-sm btn-danger', form: { style: 'display:inline-block;' }, data: { turbo_confirm: 'Are you sure?' } %>
        </td>
        <td>
          <% if transaction.receipt.attached? %>
            <%= link_to 'Download', rails_blob_path(transaction.receipt, disposition: "attachment"), class: "btn btn-sm btn-primary" %>
          <% else %>
            No Receipt
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>