<div class="table-container">
  <h1>Monthly Transactions</h1>

  <% @monthly_transactions.sort.each do |month, transactions| %>
    <h2><%= month.strftime('%B %Y') %></h2>

    <table class="table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Type</th>
        <th>Recurring</th> <!-- New column for Recurring -->
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <% total_for_month = 0 %>
      <% transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.expiration.strftime('%d/%m/%Y') %></td>
          <td><%= installment_description(transaction) %></td>
          <td><%= transaction.category.name %></td>
          <td class="<%= transaction.category.category_type == 'expense' ? 'expense' : 'income' %>">
            <%= transaction.category.category_type.capitalize %>
          </td>
          <td>
            <%= transaction.recurring.capitalize %>
          </td>
          <td class="<%= transaction.category.category_type == 'expense' ? 'expense' : 'income' %>">
            <%= br_currency(transaction.amount) %>
          </td>
        </tr>
        <%
          if transaction.category.category_type == 'expense'
            total_for_month -= transaction.amount
          else
            total_for_month += transaction.amount
          end
        %>
      <% end %>
      </tbody>
      <tfoot>
      <tr class="total-highlight" data-total-type="<%= total_for_month >= 0 ? 'positive' : 'negative' %>">
        <td colspan="5"><strong>Total for <%= month.strftime('%B %Y') %></strong></td>
        <td><strong><%= br_currency(total_for_month) %></strong></td>
      </tr>
      </tfoot>
    </table>
  <% end %>
</div>