<h1>Monthly Transactions</h1>

<% @monthly_transactions.each do |month, transactions| %>
  <h2><%= month.strftime('%B %Y') %></h2> 
  
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.expiration %></td>
          <td><%= transaction.description %></td>
          <td><%= transaction.category.name %></td>
          <td><%= br_currency(transaction.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>